{% extends "layout.html" %}
{% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            {% for category, message in messages %}
               <div class="alert alert-{{ category }}">
                 {{ message }}
              </div>
            {% endfor %}
          {% endif %}
        {% endwith %}
{% block content %}
        <div class="hero-body">
            <div class="container has-text-centered">
                <h1 class="title">
                  Welcome, {{ name }}!
                </h1>
            </div>
        </div>
{% endblock content %}